.resumeListingContainer {
  width: 80vw;
  height: 30vh;
  box-shadow: 0 2px 4px 0 rgba(66, 65, 65, 0.203),
    0 3px 10px 0 rgba(161, 155, 155, 0.59);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 10px;
  margin: 32px 0px;
  display: flex;
}

.resumeListingImage {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 24vw;
}

.resumeListingTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
}

.resumeListingTextContainer > * {
  font-family: "Montserrat";
  text-align: left;
}

.resumeListingTextContainer > p1 {
  font-weight: bold;
  font-size: 26px;
  margin: 10px 0px;
}

.resumeListingTextContainer > p2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: grey;
}

.resumeListingTextContainer > p3 {
  font-size: 17px;
  white-space: pre-wrap;
}

@media screen and (max-width: 500px) {
  .resumeListingContainer {
    width: 90vw;
    height: 75vh;
    flex-direction: column;
  }

  .resumeListingImage {
    width: 100%;
    height: 35vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .resumeListingTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 25px;
  }

  .resumeListingTextContainer > p1 {
    font-size: 22px;
    margin: 8px 0px;
  }

  .resumeListingTextContainer > p2 {
    font-size: 14.5px;
    margin-bottom: 8px;
  }

  .resumeListingTextContainer > p3 {
    font-size: 15.5px;
  }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
  .resumeListingContainer {
    width: 90vw;
    height: 70vh;
    flex-direction: column;
  }

  .resumeListingImage {
    width: 100%;
    height: 35vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .resumeListingTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 30px;
  }

  .resumeListingTextContainer > p1 {
    font-size: 24px;
    margin: 8px 0px;
  }

  .resumeListingTextContainer > p2 {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .resumeListingTextContainer > p3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .resumeListingContainer {
    width: 90vw;
    height: 35vh;
  }

  .resumeListingImage {
    width: 28vw;
  }

  .resumeListingTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 30px;
  }

  .resumeListingTextContainer > p1 {
    font-size: 24px;
    margin: 8px 0px;
  }

  .resumeListingTextContainer > p2 {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .resumeListingTextContainer > p3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 900px) {
  .resumeListingContainer {
    width: 85vw;
    height: 32vh;
  }

  .resumeListingImage {
    width: 26vw;
  }

  .resumeListingTextContainer > p1 {
    font-size: 24px;
    margin: 8px 0px;
  }

  .resumeListingTextContainer > p2 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .resumeListingTextContainer > p3 {
    font-size: 17px;
  }
}
