.resumeListingContainer {
  width: 80vw;
  height: 30vh;
  /* height: 80vw; */
  box-shadow: 0 2px 4px 0 rgba(66, 65, 65, 0.203),
    0 3px 10px 0 rgba(161, 155, 155, 0.59);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 10px;
  margin: 32px 0px;
  display: flex;
}

.resumeListingImage {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 24vw;
}

.resumeListingTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
}

.resumeListingTextContainer > * {
  font-family: "Montserrat";
  text-align: left;
}

.resumeListingTextContainer > p1 {
  font-weight: bold;
  font-size: 26px;
  margin: 10px 0px;
}

.resumeListingTextContainer > p2 {
  font-size: 17px;
  margin-bottom: 10px;
  color: grey;
}

.resumeListingTextContainer > p3 {
  font-size: 18px;
  white-space: pre-wrap;
}
